section.display{
    background-color: black;
    width: 80vw;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
h3.sub-table-head{
    font-size: 1.5rem;
    text-align: center;
  }
  .display-table {
    width: 80%;
    border-collapse: collapse; /* Collapse border spacing */
    margin-left: auto;
    margin-right: auto;
  }
  
  .display-table th, .display-table td {
    border: 1px solid white; /* Add borders to cells */
    padding: 8px; /* Add padding inside cells */
    text-align: center; /* Center align text inside cells */
  }
  
  .table-head {
    background-color: rgb(46, 46, 46)
  }
  
  .table-head th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
  }
  
  p.byline{
    text-align: center;
  }