section.blog-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/stadium.jpg');
    background-size: cover;
    background-position: center -15%; /* Adjust the vertical position */
    background-attachment: fixed; /* Keeps the background image fixed */
    margin: 0;
    filter: brightness(50%);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

section.link-frame{
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.882);
    height: auto;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

h2.sub{
    color: white;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.882);
    padding: 0.5rem;
    margin-bottom: -1rem;
}

#final-frame{
    margin-bottom: 5rem;
}

section.filter{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 50vw;
    height: auto;
    padding: 1rem;
    background-color:  rgba(0, 0, 0, 0.882);
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button.filter-btn{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
}
button.filter-btn:hover{
    cursor: pointer;
    background-color: rgb(62, 62, 62);
}

.active{
    background-color: rgb(62, 62, 62);
}