section.confirm-tab{
    background-color: black;
    color: white;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0.3rem;
}

p.player-input-txt{
    text-align: center;
}

button.confirm-btn{
    background-color: rgb(0, 226, 0);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

button.confirm-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 226, 0, 0.588);;
}

.invisible{
    transition: 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
}