section.ass-bg {
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/haaland_bg_num.jpg');
    background-size: cover;
    background-position: center -15%; /* Adjust the vertical position */
    background-attachment: fixed; /* Keeps the background image fixed */
    margin: 0;
    filter: brightness(80%);
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

main.assist-sect{
    background-color: none;
}

section.selection {
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    z-index: 1; 
}

section.rating-select-sect,
section.count-select-sect {
    color: white;
    background-color: black;
    width: 15rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

h3.sub-head {
    padding-top: 0.5rem;
    text-align: center;
}

h3#avail-head {
    font-size: 1rem;
}

button.toggle {
    height: 4rem;
}

/* Card Positioning was fixed by ChatGPT. I had an error where the input was being placed in the centre but in the baseline
instead of the centre. I did not realise that I did not specify how many rows. The card was taking up one row and the input
was taking up another. */
table.table-cards {
    margin-left: auto;
    margin-right: auto;
}

tbody.input-cards {
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    justify-content: center;
}

td.card-container {
    position: relative;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

tr.card-row {
    color: red;
}

.card {
    width: 80%;
    height: 100%;
}

.card-input {
    position: absolute;
    font-size: 2rem;
    width: 3rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.confirm-tab {
    background-color: black;
    color: white;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem; 
    padding: 0.3rem;
    position: relative; 
    z-index: 1; 
}

p.player-input-txt {
    text-align: center;
}

button.confirm-btn {
    background-color: rgb(0, 226, 0);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

button.confirm-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 226, 0, 0.588);
}


section.confirm-input {
    background-color: black;
    width: 15rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

button.confirm-input-btn {
    margin: 0 auto; /* Center the button */
    width: 80%;
    height: 80%;
    background-color: rgb(0, 226, 0);
    margin-left: 1rem;
}

button.confirm-input-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 226, 0, 0.588);
}

button.edit-input-btn{
    margin: 0 auto; /* Center the button */
    width: 80%;
    height: 80%;
    background-color: rgb(223, 186, 0);
}
button.edit-input-btn:hover{
    cursor: pointer;
    background-color: rgba(223, 186, 0, 0.734);
}

h2.rating-noti{
    width: 54.38%;
    background-color: black;
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}
h2#count-noti{
    margin-top: -1.3rem;
    margin-bottom: -1.2rem;
}
/* Always needs to be at the bottom of CSS sheet
If it is anywhere else, the other styling will overwrite it */
.invisible {
    transition: 0.2s ease-out;
    opacity: 0;
    visibility: hidden;
}

.note{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.892);
    width: 80vw;
    padding: 1rem;
}